- present job do |p|
  %tr{ id: p.job_id }
    %td= p.job_info
    %td= p.render_job_builds_infos
    %td= p.job_actions
    %td{ class: 'source_quality_report_job_table_cell' }= p.render_sonarqube_report
