.label a { color: #FFFFFF; }
#jobs-list .fa { display: inline-block; margin: 5px; }
.icon-running { background-image: url("../images/running.gif"); margin-left: 4px; }
.icon-test-connection { background-image: url("../images/test_connection.png"); margin-left: 4px; }
dt.build_activity  { background-image: url("../images/changeset.png"); }
pre.jenkins-output {
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

ul.changesets_list li p {
  display: inline;
}

ul.changesets_list li p.revision {
  padding-right: 7px;
}

div.changesets.invisible {
  display: none;
}

.ui-dialog-title .not-a-title {
  display: none;
}

.only-a-title {
  display: none;
}

.ui-dialog-title .only-a-title {
  display: none;
}

.state_color_image {
  display: inline-block; 
  vertical-align: bottom; 
  height:30px;
}

.jenkins_jobs_logs_icon {
  display: inline-block; 
  vertical-align: middle; 
  height:25px;
}

.weather_image_icon {
  display: inline-block; 
  vertical-align: bottom;
}

.job_status_line {
  margin-left:20px; 
  vertical-align:middle; 
}

th.jenkins_jobs_list_table_1st_head_1st_cell,
th.jenkins_jobs_list_table_2nd_head_1st_cell {
  text-align:left;
  /* border-right: 1px solid #dddddd; */
}

th.jenkins_jobs_list_table_1st_head {
  text-align:center;
  border-left: 1px solid #dddddd;
}

th.jenkins_jobs_list_table_2nd_head {
  text-align:left;
  border-left: 1px solid #dddddd;
}

td.source_quality_report_job_table_cell {
  max-width: 50%;
  min-width: 40%;
  width: 50%; 
}

table.source_code_quality_report {
  border: 1px solid #dddddd;
}

table.source_code_quality_report td{
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

td.table_odd_col {
  border-left: 1px solid #dddddd;
  width: 20%;
}

td.table_even_col {
  width: 10%;
}

h3.ci_cd_sidebar {
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

p.ci_cd_sidebar {
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

span.symbol_A {
  background-color: green;
  font-weight: bold;
  padding: 5%;
  font-size: 130%;
}

span.symbol_B {
  background-color: greenyellow;
  font-weight: bold;
  padding: 5%;
  font-size: 130%;
}

span.symbol_C {
  background-color: yellow;
  font-weight: bold;
  padding: 5%;
  font-size: 130%;
}

span.symbol_D {
  background-color: orange;
  font-weight: bold;
  padding: 5%;
  font-size: 130%;
}

span.symbol_E {
  background-color: red;
  font-weight: bold;
  padding: 5%;
  font-size: 130%;
}

/* Affects too much dialogs ... :(
.ui-dialog {
  max-width: 90%;
  max-height: 90%;
  overflow-y: scroll;
}*/

