%h3{class: 'ci_cd_sidebar'}= l(:label_ci_cd_long)

- if User.current.allowed_to?(:edit_jenkins_settings, @project)
  %p{class: 'ci_cd_sidebar'}= link_to l(:label_settings), settings_project_path(@project, 'jenkins')
